import 'package:flutter/material.dart';

class WolframConfig {
  static String appID = "";
}

class BackendApiConfig {
  static String address = "";
}

final ThemeData iOSTheme = new ThemeData(
  primarySwatch: Colors.blue,
  primaryColor: Colors.grey[100],
  primaryColorBrightness: Brightness.light,
  accentColor: Colors.grey[300],
);

final ThemeData defaultTheme = new ThemeData(
  primarySwatch: Colors.blue,
  accentColor: Colors.lightBlue,
  buttonColor: Colors.lightBlue,
);