import 'package:flutter/material.dart';

class AppInfo {
  static final version = "";
  static final build = 0;
}

class WolframConfig {
  static final appID = "";
}

class BackendApiConfig {
  static final address = "";
  static final resourceAddress = "";
}

final ThemeData iOSTheme = new ThemeData(
  primarySwatch: Colors.grey[100],
  primaryColor: Colors.grey[100],
  primaryColorBrightness: Brightness.light,
  accentColor: Colors.grey[300],
);

final ThemeData defaultTheme = new ThemeData(
  primarySwatch: Colors.cyan,
  primaryColor: Colors.cyan[600],
  accentColor: Colors.lightGreen,
  buttonColor: Colors.lightBlue,
);